{% extends 'layout.html.twig' %}
{% set active_section = 'form_type' %}

{% block body %}
    <h1>Form layouts</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-8 col-xs-8"><h3>Files & images</h3></div>
            <div class="col-4 col-xs-4"><h3>Sounds</h3></div>
        </div>
        <div class="row">
            <div class="col col-xs-4">{{ form_row(form.file) }}</div>
            <div class="col col-xs-4">{{ form_row(form.image) }}</div>
            <div class="col col-xs-4">{{ form_row(form.soundcloud) }}</div>
        </div>

        <h3>Videos</h3>
        <div class="row">
            <div class="col col-xs-4">{{ form_row(form.youtube) }}</div>
            <div class="col col-xs-4">{{ form_row(form.vimeo) }}</div>
            <div class="col col-xs-4">{{ form_row(form.dailymotion) }}</div>
        </div>

        <p>
            <button type="submit" class="btn btn-primary">
                Submit media
            </button>
        </p>
    {{ form_end(form) }}
{% endblock body %}

{% block footer %}
    <hr>

    Style:
    {% set links = { 'Default': 'index', 'Bootstrap 3': 'bootstrap_3', 'Bootstrap 4': 'bootstrap_4', 'Bootstrap 5': 'bootstrap_5' } %}
    {% for label, link in links %}
        {% if is_active_path(path("app_form_type_#{link}")) %}<strong>{% endif %}
        <a href="{{ path("app_form_type_#{link}") }}">{{ label }}</a>
        {% if is_active_path(path("app_form_type_#{link}")) %}</strong>{% endif %}
        {% if not loop.last %} - {% endif %}
    {% endfor %}

    {{ parent() }}
{% endblock footer %}
