{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Leapt bundles Demo</h1>

    <ul>
        <li><a href="{{ path('app_datalist_default_grid') }}">Data lists</a></li>
        <li>
            Feeds:
            <a href="{{ path('leapt_core_feed', { 'feedName': 'news', '_format': 'rss' }) }}">RSS format</a>,
            <a href="{{ path('leapt_core_feed', { 'feedName': 'news', '_format': 'atom' }) }}">Atom format</a>
        </li>
        <li><a href="{{ path('app_gallery_index') }}">File uploads w/ Flysystem</a></li>
        <li><a href="{{ path('app_album_index') }}">File uploads w/ collections</a></li>
        <li><a href="{{ path('app_form_type_index') }}">Form types</a></li>
        <li><a href="{{ path('app_paginator_index') }}">Paginator</a></li>
        <li><a href="{{ path('leapt_core_sitemap_default') }}">Sitemap</a></li>
    </ul>
{% endblock body %}

{% block footer %}
{% endblock footer %}
