{% extends 'layout.html.twig' %}
{% set active_section = 'file_upload' %}

{% block body %}
    <h1>Gallery list</h1>

    {% if galleries|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Local image</th>
                    <th>S3 image</th>
                    <th>S3 async image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for gallery in galleries %}
                    <tr>
                        <td>{{ gallery.title }}</td>
                        <td>{{ gallery.localImage|default('N/A') }}</td>
                        <td>{{ gallery.s3Image|default('N/A') }}</td>
                        <td>{{ gallery.s3AsyncImage|default('N/A') }}</td>
                        <td>
                            <a href="{{ path('app_gallery_update', { 'id': gallery.id }) }}">Update</a>
                            <a href="{{ path('app_gallery_delete', { 'id': gallery.id }) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are currently no galleries in the database.</p>
    {% endif %}

    <p><a href="{{ path('app_gallery_create') }}">Create a gallery</a></p>
{% endblock body %}
